<robot name="racquet_ball">

  <!-- <link name="world"/>

  <joint name="world_to_base_link" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="racquet_ball"/>
  </joint> -->

  <link name="racquet_ball">
    <inertial>
      <origin xyz="0 0 0" />
      <mass value="0.0002465953911687125" />
      <inertia  ixx="0.01" ixy="0.0"  ixz="0.0"  iyy="0.01"  iyz="0.0"  izz="0.01" />
    </inertial>
    <visual>
      <origin xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://pick_and_place/urdf/objects/racquet_ball/racquet_ball.obj"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0.0"/>
      <geometry>
        <mesh filename="package://pick_and_place/urdf/objects/racquet_ball/racquet_ball.obj"/>
      </geometry>
    </collision>
  </link>


  <gazebo reference="racquet_ball">
    <script>
      <uri>package://pick_and_place/urdf/objects/racquet_ball/racquet_ball.material</uri>
      <name>racquet_ball</name>
    </script>
    <material>racquet_ball</material>
  </gazebo>

</robot>
